html, body {
  height: 100%;
  margin: 0px;
}

body {
  background-image: url("../pics/CornellUniversity.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

embed {
  width: 70%;
  height: 200%;
  margin: 0px;
}

h1 {
  text-align: center;
  font-family: Trebuchet MS, sans-serif;
}

div {
  height: 100%;
}
