html, body {
  height: 100%;
  margin: 0px;
}

.bg {
  background-image: url("../pics/CornellUniversity.jpg");
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

embed {
  width: 70%;
  height: 300px;
  margin: 0px;
}

h1 {
  text-align: center;
  font-family: Trebuchet MS, sans-serif;
}

div {
  height: 100%;
}
