html, body {
  height: 100%;
  margin: 0px;
}

body {
  background-image: url("../pics/CornellUniversity.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

embed {
  margin: 0px;
}

embed.reg {
  width: 70%;
  height: 80%;
}

embed.phone {
  width: 200px;
  height: 600px;
}

h1 {
  text-align: center;
  font-family: Trebuchet MS, sans-serif;
}

h1.phone {
  font-size: 50px
}

div {
  height: 100%;
  margin: 0px;
}
